.navbar {
  background: getColour(bg2) !important;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
  font-family: $font-headings;
}
.navbar-light .navbar-nav .nav-link.active {
  color: getColour(accent);
}
.navbar-light .navbar-nav .nav-link {
  color: getColour(navtext);
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
