$font-body: "open sans", sans-serif;
$font-headings: "Archivo Narrow", sans-serif;

$colours: (
  headings: #6a6a6a,
  accent: #c32c72,
  bg1: #e5e5e5,
  bg2: #f4f3ee,
  navtext: #8d8d8d,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}
